.content {
  font-size 30px
}
	#veditor {
		background-image: url(https://cdn.jsdelivr.net/gh/drew233/cdn/20200409110727.webp);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgba(255,255,255,0);
    resize: vertical;
	}
  .comments-wrapper .valine-wrapper #valine.v .vwrap{
    border: 1px solid #3eaf7c;
    background:#fff;
  }
  .content__default pre.custom{
    background-color:transparent;
  }
	 